@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcHybridClient</title>

    <link rel="stylesheet" href="~/css/vendor.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>
<body>
    <nav class="bg-dark mb-4 navbar navbar-dark navbar-expand-md">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand">
            <em>MVC OIDC Hybrid </em>
        </a>
        <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#topNavbarCollapse" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavbarCollapse">
            <ul class="mr-auto navbar-nav">

                @if ((await AuthorizationService.AuthorizeAsync(User, "IsAdminRequirementPolicy")).Succeeded)
                {
                    <li class="nav-item">
                        <a asp-area="" class="nav-link" asp-controller="Admin" asp-action="Index">Admin</a>
                    </li>
                }

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Logout" class="nav-link">Logout</a>
                    </li>
                }
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>
            }
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2022 - ASP.NET Core OIDC Hybrid Flow</p>
        </footer>
    </div>
    <script src="~/js/vendor.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
